@charset "utf-8";
/****************** banner *****************/
.main .main-banner {
  height: 696px;
}
.main .main-banner .swiper-slide {
  height: 696px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.main .main-banner .ban1 {
  background-color: #f8f8f8;
}
.main .main-banner .ban1-t1,
.main .main-banner .ban1-t2,
.main .main-banner .ban2-t1 {
  position: absolute;
  left: 50%;
  transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
}
.main .main-banner .ban1-t1 {
  top: 186px;
  margin-left: -986px;
}
.main .main-banner .ban1-t2 {
  top: 0;
}
.main .main-banner .ban2-t1 {
  top: 160px;
  opacity: .2;
  margin-left: -246px;
}
.main .main-banner .swiper-slide-active .ban1-t1 {
  margin-left: -586px;
}
.main .main-banner .swiper-slide-active .ban1-t2 {
  margin-left: -204px;
}
.main .main-banner .swiper-slide-active .ban2-t1 {
  top: 71px;
  opacity: 1;
  margin-left: -246px;
}
/****************** 服务数据 *****************/
.main .main-sj .sj-menu {
  padding: 60px 0;
}
.main .main-sj .sj-menu li {
  float: left;
  text-align: center;
  width: 25%;
  position: relative;
}
.main .main-sj .sj-menu li .sz {
  font-size: 50px;
  font-weight: 200;
}
.main .main-sj .sj-menu li em {
  font-style: normal;
  position: relative;
}
.main .main-sj .sj-menu li em:after {
  content: "+";
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 26px;
  line-height: 1;
}
.main .main-sj .sj-menu li .wz {
  color: #7d7d7d;
  display: block;
  font-size: 18px;
  font-weight: normal;
  margin-top: 6px;
}
.main .main-sj .sj-menu li:after {
  content: "";
  width: 1px;
  height: 60%;
  position: absolute;
  top: 20%;
  right: 0;
  background-color: #cccccc;
}
.main .main-sj .sj-menu li:last-child:after {
  display: none;
}
.item-tit {
  text-align: center;
  color: #333;
  font-size: 26px;
  padding-bottom: 10px;
  padding-top: 70px;
}
.item-txt {
  color: #333;
  text-align: center;
}
/* 服务内容 */
.main .main-service {
  position: relative;
  background-color: #31417c;
}
.main .main-service #mydiv {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
}
.main .main-service .item-txt,
.main .main-service .item-tit {
  color: #fff;
}
.main .main-service .ser-nav {
  position: relative;
  z-index: 3;
  font-size: 0;
  padding-top: 40px;
  padding-bottom: 80px;
}
.main .main-service .ser-nav li {
  width: 25%;
  display: inline-block;
  position: relative;
}
.main .main-service .ser-nav li p {
  padding-top: 94px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: url(../image/ms1.png);
  background-repeat: no-repeat;
  background-position: 50% 12px;
}
.main .main-service .ser-nav li:nth-child(2) p {
  background-image: url(../image/ms2.png);
}
.main .main-service .ser-nav li:nth-child(3) p {
  background-image: url(../image/ms3.png);
}
.main .main-service .ser-nav li:nth-child(4) p {
  background-image: url(../image/ms4.png);
  background-position: 50% 0;
}
.main .main-service .ser-nav li:hover:after,
.main .main-service .ser-nav .active:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  bottom: -80px;
  left: 50%;
  margin-left: -6px;
  border: 12px solid transparent;
  border-bottom-color: #f1f1f1;
}
.main .main-service .ser-nav .active p,
.main .main-service .ser-nav li:hover p {
  background-image: url(../image/ms-act1.png);
  color: #eec630;
}
.main .main-service .ser-nav .active:nth-child(2) p {
  background-image: url(../image/ms-act2.png);
}
.main .main-service .ser-nav .active:nth-child(3) p {
  background-image: url(../image/ms-act3.png);
}
.main .main-service .ser-nav .active:nth-child(4) p {
  background-image: url(../image/ms-act4.png);
}
.main .main-service .ser-menu {
  background-color: #f1f1f1;
  padding: 90px 0;
  overflow: hidden;
}
.main .main-service .ser-menu li {
  display: none;
}
.main .main-service .ser-menu li:first-child {
  display: block;
}
.main .main-service .ser-list {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
.main .main-service .ser-list dd {
  display: inline-block;
  position: relative;
  z-index: 3;
}
.main .main-service .ser-list dd a {
  display: block;
  width: 280px;
  background-color: #fff;
  padding: 40px 0;
  margin: 0 10px;
  transition: all 0.3s cubic-bezier(0.24, 0.18, 0.37, 0.91) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.24, 0.18, 0.37, 0.91) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.24, 0.18, 0.37, 0.91) 0s;
  -o-transition: all 0.3s cubic-bezier(0.24, 0.18, 0.37, 0.91) 0s;
}
.main .main-service .ser-list dd a .s-tit {
  font-size: 20px;
  color: #333;
  padding-bottom: 16px;
}
.main .main-service .ser-list dd a .s-txt {
  color: #333;
  line-height: 1.6;
  height: 76px;
}
.main .main-service .ser-list dd a .s-ico {
  font-size: 0;
}
.main .main-service .ser-list dd a .s-ico img {
  height: 36px;
}
.main .main-service .ser-list dd:hover a {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0px 0px 8px 4px #c5c5c5;
  -webkit-box-shadow: 0px 0px 8px 4px #c5c5c5;
  -moz-box-shadow: 0px 0px 8px 4px #c5c5c5;
}
.main .main-service .ser-list dd:hover a .s-tit {
  color: #eec630;
}
.main .main-service .list-n2 dd a {
  margin: 0 5px;
  width: 228px;
}
/* 网站展示 */
.main .main-show .show-menu {
  width: 1200px;
  margin: 48px auto;
}
.main .main-show .show-menu li {
  float: left;
  margin: 0 4px;
  min-height: 324px;
  margin-bottom: 68px;
}
.main .main-show .show-menu li a {
  display: block;
}
.main .main-show .show-menu li a .img-box {
  width: 375px;
  height: 273px;
  width: 289px;
  height: 175px;
  overflow: hidden;
  padding: 12px 50px 56px;
  background: url(../image/zhanshi-bg.jpg) center top no-repeat;
  background-position: 50% -4px;
}
.main .main-show .show-menu li a .img-box .bg-box {
  width: 100%;
  height: 175px;
  overflow: hidden;
  position: relative;
}
.main .main-show .show-menu li a .img-box img {
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.main .main-show .show-menu li a .p-name,
.main .main-show .show-menu li a .p-msg,
.main .main-show .show-menu li a .p-more {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}
.main .main-show .show-menu li a .p-name {
  font-size: 20px;
}
.main .main-show .show-menu li a .p-more {
  font-size: 12px;
  margin-bottom: 0;
}
.main .main-show .show-menu li:hover .p-name,
.main .main-show .show-menu li:hover .p-msg,
.main .main-show .show-menu li:hover .p-more {
  color: #eec630;
}
/**** 策划方案 *****/
.main .main-case {
  background: url(../image/mcase-bg.jpg) center top no-repeat;
}
.main .main-case .item-tit,
.main .main-case .item-txt {
  color: #333;
}
.main .main-case .case-menu {
  font-size: 0;
  text-align: center;
  padding: 38px 0;
}
.main .main-case .case-menu li {
  width: 232px;
  height: 90px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
}
.main .main-case .case-menu li .c-tit {
  line-height: 34px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #333;
}
.main .main-case .case-menu li .c-txt {
  color: #737373;
}
.main .main-case .case-menu li a {
  display: block;
}
.main .main-case .case-menu li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 60%;
  background-color: #999;
}
.main .main-case .case-menu li:before {
  content: "";
  position: absolute;
  left: 33%;
  bottom: 0;
  width: 34%;
  height: 1px;
  background-color: #ccc;
}
.main .main-case .case-menu li:nth-child(5n):after {
  display: none;
}
.main .main-case .case-menu li:nth-last-child(-n+5) {
  margin-bottom: 0;
}
.main .main-case .case-menu li:nth-last-child(-n+5):before {
  display: none;
}
.main .main-case .case-bottom {
  background-color: #31417c;
}
.main .main-case .case-bottom .tit2 {
  color: #fff;
  font-size: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  line-height: 1;
}
.main .main-case .case-bottom .tit2 span {
  font-size: 14px;
}
.main .main-case .case-bottom .c-b-img {
  display: inline-block;
  vertical-align: middle;
}
.main .main-case .case-bottom .txt-box {
  float: left;
  padding-top: 68px;
  padding-left: 94px;
}
.main .main-case .case-bottom .c-b-menu {
  font-size: 0;
  float: right;
  width: 600px;
  padding: 32px 0;
}
.main .main-case .case-bottom .c-b-menu li {
  display: inline-block;
  width: 146px;
  height: 38px;
  line-height: 38px;
  margin: 12px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
}
/* 新闻资讯 */
.main .main-news {
  margin-bottom: 86px;
}
.main .main-news .news-l {
  width: 566px;
  padding-top: 40px;
  float: left;
}
.main .main-news .news-l .news-img {
  width: 100%;
}
.main .main-news .news-l .n-tit {
  font-size: 22px;
  padding: 10px 0 20px;
}
.main .main-news .news-l .n-txt {
  font-size: 16px;
}
.main .main-news .news-l .n-more a {
  display: block;
  width: 190px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #fff;
  background-color: #31417c;
  margin-top: 46px;
  position: relative;
}
.main .main-news .news-l .n-more a:after {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  bottom: -16px;
  right: -16px;
  border: 4px solid #31417c;
  opacity: 0;
  transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  pointer-events: none;
}
.main .main-news .news-l .n-more a:hover:after {
  opacity: 1;
  top: -10px;
  left: -10px;
  bottom: -10px;
  right: -10px;
}
.main .main-news .news-menu {
  float: right;
  margin-top: 40px;
}
.main .main-news .news-menu li a {
  display: block;
  color: #333;
  width: 564px;
  overflow: hidden;
  padding: 34px 0 40px;
  border-bottom: 1px solid #2a4785;
}
.main .main-news .news-menu li a .n-l {
  float: left;
  position: relative;
  width: 108px;
  height: 58px;
}
.main .main-news .news-menu li a .n-l .r {
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
}
.main .main-news .news-menu li a .n-l .y {
  font-size: 44px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main .main-news .news-menu li a .n-l:after {
  content: "";
  position: absolute;
  left: 38px;
  top: -6px;
  background-color: #333;
  width: 1px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.main .main-news .news-menu li a .n-r {
  width: 76%;
  float: right;
}
.main .main-news .news-menu li a .n-r .n-tit {
  font-size: 18px;
  line-height: 34px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
}
.main .main-news .news-menu li a .n-r .n-txt,
.main .main-news .news-menu li a .n-r .n-time {
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .main-news .news-menu li a:hover .n-tit {
  text-indent: 10px;
}
.main .main-news .news-menu li a:hover .n-tit,
.main .main-news .news-menu li a:hover .n-txt,
.main .main-news .news-menu li a:hover .n-time {
  color: #eec630;
}
/******************************
    欢迎页面
*******************************/
#showcloneshengxiaon {
  height: 100%;
  font-size: 0;
}
/* 企业服务导航切换动画 */
.ani-r dl dd {
  -webkit-animation: fadeInRightBig .6s 0s ease both;
  -moz-animation: fadeInRightBig .6s 0s ease both;
}
.ani-r dl dd:nth-child(2) {
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
}
.ani-r dl dd:nth-child(3) {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
}
.ani-r dl dd:nth-child(4) {
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
}
.ani-r dl dd:nth-child(5) {
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
