@charset"utf-8";

html,body{
    height:100%;
}
body{
    min-width: auto;
    overflow:hidden;
}
.w-banner{
    height:100%;
    .swiper-container{
        height:100%;
    }
    .swiper-slide{
        height:100%;
        background-position: center;
        background-size:cover;
    }
    .ban1{
        position: relative;
        .txt-box{
            width:26%;
            position: absolute;
            top: 16%;
            left:-20%;
            transition:all .8s ease 0s;
            -moz-transition:all .8s ease 0s; 
            -webkit-transition:all .8s ease 0s; 
            -o-transition:all .8s ease 0s;
            img{
                display:block;
                width:100%;
            }
        }
        .mb-box{
            position: absolute;
            top: 50%;
            left:16%;
            width: 46%;
            transition:all 1.8s linear 0s;
            -moz-transition:all 1.8s linear 0s; 
            -webkit-transition:all 1.8s linear 0s; 
            -o-transition:all 1.8s linear 0s;
            img{
                width:21%;
                position:relative;
            }
            .sj1{
                z-index:5;
            }
            .sj2{
                z-index:4;
                margin-left:-21.7%;
                transition:all .4s ease .4s;
                -moz-transition:all .4s ease .4s; 
                -webkit-transition:all .4s ease .4s; 
                -o-transition:all .4s ease .4s;
            }
            .sj3{
                z-index:3;
                margin-left:-21.7%;
                transition:all .4s ease .8s;
                -moz-transition:all .4s ease .8s; 
                -webkit-transition:all .4s ease .8s; 
                -o-transition:all .4s ease .8s;
            }
            .sj4{
                z-index:2;
                margin-left:-21.7%;
                transition:all .4s ease 1.2s;
                -moz-transition:all .4s ease 1.2s; 
                -webkit-transition:all .4s ease 1.2s; 
                -o-transition:all .4s ease 1.2s;
            }
        }
        .pc-box{
            width: 54%;
            position: absolute;
            top: 16%;
            left: 40%;
            img{
                display:block;
                width:100%;
                -webkit-transform: scale(0);
                   -moz-transform: scale(0);
                    -ms-transform: scale(0);
                     -o-transform: scale(0);
                        transform: scale(0);
                transition:all .8s ease 0s;
                -moz-transition:all .8s ease 0s; 
                -webkit-transition:all .8s ease 0s; 
                -o-transition:all .8s ease 0s;
            }
        }
    }
    .ban2{
        position:relative;
        img{
            display:block;
            width:100%;
        }
        .wl2-tit{
            position: absolute;
            top: 16%;
            left: 20%;
            width:40%;
            opacity:0;
            transition:all 1s ease 0s;
            -moz-transition:all 1s ease 0s; 
            -webkit-transition:all 1s ease 0s; 
            -o-transition:all 1s ease 0s;
        }
        .wl2-txt{
            position: absolute;
            top: 45%;
            left: -10%;
            width: 22%;
            opacity:0;
            transition:all 1s ease 0s;
            -moz-transition:all 1s ease 0s; 
            -webkit-transition:all 1s ease 0s; 
            -o-transition:all 1s ease 0s;
        }
        .wl2-img-box{
            position: absolute;
            left: 44%;
            bottom:2%;
            width: 48%;
            -webkit-transform: scale(0) rotate(0deg);
               -moz-transform: scale(0) rotate(0deg);
                -ms-transform: scale(0) rotate(0deg);
                 -o-transform: scale(0) rotate(0deg);
                    transform: scale(0) rotate(0deg);
            transition:all 1s ease 0s;
            -moz-transition:all 1s ease 0s; 
            -webkit-transition:all 1s ease 0s; 
            -o-transition:all 1s ease 0s;
        }
    }
    .ban3{
        position: relative;
        background-repeat:repeat;
        .shou-box{
            width: 42%;
            position: absolute;
            bottom: 0;
            left: 43%;
            .shou-bg{
                width:100%;
                display:block;
            }
            .wl3-menu{
                li{
                    position: absolute;
                    bottom: 18.4%;
                    left: 13.3%;
                    width: 8%;
                    -webkit-transform: scale(0);
                       -moz-transform: scale(0);
                        -ms-transform: scale(0);
                         -o-transform: scale(0);
                            transform: scale(0);
                    transition:all .4s ease 0s;
                    -moz-transition:all .4s ease 0s; 
                    -webkit-transition:all .4s ease 0s; 
                    -o-transition:all .4s ease 0s;
                    img{
                        display:block;
                        width:100%;
                    }
                }
                .m2{
                    bottom: 43.8%;
                    left: 5.32%;
                    transition-delay:.1s;
                    -moz-transition-delay:.1s; 
                    -webkit-transition-delay:.1s; 
                    -o-transition-delay:.1s;
                }
                .m3{
                    bottom: 74.8%;
                    left: 14.32%;
                    transition-delay:.2s;
                    -moz-transition-delay:.2s; 
                    -webkit-transition-delay:.2s; 
                    -o-transition-delay:.2s;
                }
                .m4{
                    bottom: 86.8%;
                    left: 45.32%;
                    transition-delay:.3s;
                    -moz-transition-delay:.3s; 
                    -webkit-transition-delay:.3s; 
                    -o-transition-delay:.3s;
                }
                .m5{
                    bottom: 78.8%;
                    left: 77.32%;
                    transition-delay:.4s;
                    -moz-transition-delay:.4s; 
                    -webkit-transition-delay:.4s; 
                    -o-transition-delay:.4s;
                }
                .m6{
                    bottom: 53%;
                    left: 86.62%;
                    transition-delay:.5s;
                    -moz-transition-delay:.5s; 
                    -webkit-transition-delay:.5s; 
                    -o-transition-delay:.5s;
                }
                .m7{
                    bottom: 24%;
                    left: 83.62%;
                    transition-delay:.6s;
                    -moz-transition-delay:.6s; 
                    -webkit-transition-delay:.6s; 
                    -o-transition-delay:.6s;
                }
            }
        }
        .wl3-txt-box{
            width: 34%;
            position: absolute;
            top:14%;
            left: 6%;
            .tit{
                width:0;
                display:block;
                overflow:hidden;
                transition:all 1s ease 0s;
                -moz-transition:all 1s ease 0s; 
                -webkit-transition:all 1s ease 0s; 
                -o-transition:all 1s ease 0s;
            }
            .txt{
                width:100%;
                display:block;
                margin-top:40%;
                opacity:0.4;
                transition:all 1s ease 0s;
                -moz-transition:all 1s ease 0s; 
                -webkit-transition:all 1s ease 0s; 
                -o-transition:all 1s ease 0s;
            }
        }
    }
    .swiper-slide-active{
        /*******************
            btn1动画
        *******************/
        .txt-box{
            left:4%;
        }
        .mb-box{
            left: 4%;
            .sj2,.sj3,.sj4{
                margin-left:-8%;
            }
        }
        .pc-box{
            img{
                -webkit-transform: scale(1);
                   -moz-transform: scale(1);
                    -ms-transform: scale(1);
                     -o-transform: scale(1);
                        transform: scale(1);
            }
        }
        /*******************
            btn2动画
        *******************/
        .wl2-tit{
            left:8%;
            opacity:1;
        }
        .wl2-txt{
            left: 9%;
            opacity:1;
        }
        .wl2-img-box{
            -webkit-transform: scale(1) rotate(360deg);
               -moz-transform: scale(1) rotate(360deg);
                -ms-transform: scale(1) rotate(360deg);
                 -o-transform: scale(1) rotate(360deg);
                    transform: scale(1) rotate(360deg);
        }
        /*******************
            btn3动画
        *******************/
        .shou-box{
            .wl3-menu{
                li{
                    -webkit-transform: scale(1);
                       -moz-transform: scale(1);
                        -ms-transform: scale(1);
                         -o-transform: scale(1);
                            transform: scale(1);
                }
            }
        }
        .wl3-txt-box{
            .tit{
                width:46%;
            }
            .txt{
               margin-top: 6%;
               opacity:1;
            }
        }
    }
}



/*********************************
    ban3 背景
**********************************/
.ban3{
    animation:ban3bg 60s linear 0s infinite alternate;
    -webkit-animation:ban3bg 60s linear 0s infinite alternate;
}
@-webkit-keyframes ban3bg{
    0%{
        background-position: center;
    }
    100% {
        background-position:2000px 4000px;
    }
}
@keyframes ban3bg{
    0%{
        background-position: center;
    }
    100% {
        background-position:2000px 4000px;
    }
}